.react-autosuggest__container { position: relative; }

.react-autosuggest__input {
  padding: 10px 20px;
  max-width: 170px;
  font-weight: 200;
  font-size: 16px;
  border: 1px solid rgba(white, .7);
}

.react-autosuggest__input:focus,
.react-autosuggest__input--focused { 
  outline: none; 
  border-color: white;
}
.react-autosuggest__suggestions-container { display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 28px;
  width: 168px;
  border: 1px solid rgba(white, .7);
  background-color: $green;
  z-index: 2;
  box-shadow: 5px 10px 25px rgba(0,0,0,.2);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 7px 20px;
  color: rgba(white, .7);
}

.react-autosuggest__suggestion:nth-child(even) {
  background-color: rgba(white, .05);
}

.react-autosuggest__suggestion:hover,
.react-autosuggest__suggestion--highlighted {
  background-color: rgba(white, .2);
}
